 .button {
  background-color: #fff;
  border: 1px solid;
  border-color: #bababa;
  color: black;
  width: 170px;
  height: 28px;
  font-size: 12px;
}
.active {
  border-color: #6a0bff;
}

.specBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
} 
 