
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.button {
    display: flex;
    margin-top: 200px;

}

.message {
    margin-top: 190px;
}

.paragraph {
    font-size: 42px;

}