
.button {
    background-color: #fff;
    border: 1px solid;
    border-color: #BABABA;
    color: black;
    width: 90px;
    height: 25px;
    font-size: 12px;
}

.active {
    border-color: #6A0BFF;
}

.complexityBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}