.container {
  width: 100%;
  padding: 0 20px;
  background-color: #fff;
  margin: 0;
  max-width: 700px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.questionList {
  width: 100%;
  margin: 0;
  padding: 0;
}
