.button {
  background-color: #fff;
  border: 1px solid;
  border-color: #bababa;
  color: black;
  width: 90px;
  height: 25px;
  font-size: 12px;
}

.active {
  border-color: #6a0bff;
}

.skillBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
