.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
  gap: 30px;
}

.container {
  background-color: #fff;
  max-width: 804px;
  width: 100%;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 55px;
  padding: 20px;
  align-items: center;
  margin-bottom: 190px;
}

.sideBar {
  display: flex;
  background-color: #fff;
  width: 400px;
  border-radius: 30px;
  height: 700px;
}
